*.o
*.so
/.svn
/.libs
*.bak
*.pyc
*.tgz
*.gz
*.tar.gz
*.zip
*.tar.bz2
*.conf
snappy-*/
gperftools-*/
jemalloc-*/
leveldb-*/
/Debug
testdb/
~*
core
/build/
.cproject
.project
.pydevproject
.settings/
*.log
*.pb.h
*.pb.cc
CMakeLists.txt
*.jce.h
*.jce.cc
bazel-*